/* BASE CSS */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
:root {
	--deepPurple: #2d2032;
	--orange: #e27b2e;
	--red: #cd3e30;
	--lightGray: #9b97b6;
	--registerButton: #7a6682;
	--formInput: #5b4962;
	--lightPurple: #342739;
	--imgOutline: #2b1e30;
	--stepCircle: #3d2b44;
	--movieDate: #43324a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}

body {
	font-family: "Nunito", sans-serif;
	background-color: var(--lightPurple);
	/*
    background-color: var(--lightPurple);
    */
}

::selection {
	background-color: var(--orange);
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
}

/* MENU BAR */

.menuBar {
	position: fixed;
	top: 0;
	left: 0;
	width: 15%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--deepPurple);
	font-weight: 600;
	font-size: 22px;
	text-align: center;
}

.menuBar a {
	color: white;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

.nav {
	list-style: none;
}

.nav li {
	margin-bottom: 14px;
}

.activeMenu {
	color: var(--orange) !important;
}

.activeMenuText {
	color: var(--orange) !important;
	cursor: default;
}

.menuBar a:hover {
	color: var(--orange) !important;
	transition: color 0.2s ease-in-out;
}

.menuBar a:last-child {
	margin-bottom: 20px;
}

.isMenuBarLastChild {
	margin-bottom: 20px;
}

.logo {
	margin-top: 10px;
	height: 40px;
}

/* ICON CSS */

.icon {
	display: inline-flex;
	align-self: center;
}

.icon svg,
.icon img {
	height: 1em;
	width: 1em;
	fill: currentColor;
}

.icon.baseline svg,
.icon img {
	top: 0.125em;
	position: relative;
}

/* MOVIES RIGHT PANE */

.moviesWrapper {
	width: 85%;
	margin-left: 15%;
	padding: 30px 80px;
	display: flex;
	flex-direction: column;
	background-color: var(--lightPurple);
}

/* SEARCH BAR */

.topBar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.profPic {
	height: 56px;
	width: 56px;
	object-fit: cover;
	border-radius: 50%;
}

.searchForm {
	align-self: center;
	justify-self: center;
}

.user {
	display: flex;
	align-items: center;
}

.user span {
	color: white;
	font-size: 18px;
	font-weight: 500;
}

.user img {
	margin-right: 12px;
}

.searchForm label {
	position: relative;
}

.searchForm label:before {
	content: "";
	position: absolute;
	left: 10px;
	top: 0;
	bottom: 0;
	width: 20px;
	background: url(../assets/MoviesPage/imgs/search.svg) center / contain
		no-repeat;
}

.search {
	padding: 5px 10px 5px 35px;
	border-radius: 15px;
	outline: none;
	color: white;
	background-color: var(--deepPurple);
	font-family: "Nunito", sans-serif;
	font-weight: 300;
	font-size: 16px;
	border: rgba(255, 255, 255, 0.5) 1px solid;
	transition: border 0.2s ease-in-out;
}

.search:focus,
.search:hover {
	border: rgba(255, 255, 255, 0.8) 1px solid;
	transition: border 0.2s ease-in-out;
}

/* CATEGORY SELECT */

.movieBtns {
	list-style: none;
	display: flex;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 50px;
}

.movieBtns a {
	color: white;
	text-decoration: none;
	margin-right: 60px;
	transition: color 0.2s ease-in-out;
}

.movieBtns .activeMenuText {
	margin-right: 60px;
}

.movieBtns a:hover {
	color: var(--orange) !important;
	transition: color 0.2s ease-in-out;
}

.highlightSvgOnHover {
	outline: none;
}

.highlightSvgOnHover svg path {
	fill: white;
}

.highlightSvgOnHover svg:hover path {
	fill: var(--orange) !important;
	transition: color 0.2s ease-in-out;
}

/* BUTTONS */

.standardButton {
	margin-left: 15px;
	margin-right: 15px;
	padding: 0.5em 1.3em;
	border-radius: 10px;
	color: white;
	font-size: 1em;
	outline: none;
	transition: 0.2s box-shadow ease-in-out;
}

.goodButton {
	background-color: var(--orange);
	border: 4px solid var(--orange);
	font-weight: 700;
	cursor: pointer;
}

.badButton {
	background-color: transparent;
	border: 4px solid var(--red);
	font-weight: 400;
	cursor: pointer;
}

.standardButton:hover {
	transition: 0.2s box-shadow ease-in-out;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.badButton:hover {
	transition: 0.2s background-color ease-in-out;
	background-color: var(--red);
}

.formWrapper .standardButton {
	margin-left: 15px;
	margin-right: 15px;
	padding: 0.5em 1.3em;
	border-radius: 10px;
	color: white;
	font-size: 1em;
	outline: none;
}

.formWrapper .goodButton {
	background-color: var(--orange);
	border: 4px solid var(--orange);
	font-weight: 700;
	cursor: pointer;
}

.formWrapper .badButton {
	background-color: transparent;
	border: 4px solid var(--red);
	font-weight: 400;
	cursor: pointer;
}

.formWrapper .standardButton:hover {
	transition: 0.2s box-shadow easy-in-out;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.formWrapper .badButton:hover {
	transition: 0.2s background-color easy-in-out;
	background-color: var(--red);
}

.coolLink {
	color: white !important;
	text-decoration: none !important;
	transition: 0.2s all easy-in-out;
}

.coolLink:hover {
	transition: 0.2s all easy-in-out;
	box-shadow: 0px 0px 10px var(--orange);
}

/*
.movies a {
	color: white !important;
	text-decoration: none !important;
}

.movies a:active {
	color: white !important;
	text-decoration: none !important;
}

.list a {
	color: white !important;
	text-decoration: none !important;
}

.list a:active {
	color: white !important;
	text-decoration: none !important;
}

/* WRAPPERS */

.emptyWrapper {
	width: 85%;
	margin-left: 15%;
	padding: 0;
	display: flex;
	flex-direction: column;
	background-color: var(--lightPurple);
	color: white;
}

.accountWrapper {
	width: 100%;
	margin: 0;
	padding: 30px 80px 0px 80px;
	display: flex;
	flex-direction: column;
	background-color: var(--lightPurple);
}

/* CATEGORY SELECT */

.movies {
	display: grid;
	/* TODO: Remove the auto-fll when you integrate media queries*/
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 50px;
	justify-items: center;
}

.movieImg {
	height: 285px;
	width: 190px;
	object-fit: cover;
	outline: var(--imgOutline) 10px solid;
}

.movieImgExtended {
	position: relative;
	padding: 10px;
	height: 340px;
	width: 210px;
	background-color: var(--imgOutline);
}

.comingSoonExtended {
	padding: 10px;
	height: 305px;
	width: 210px;
}

.movieImgText {
	color: white;
	font-weight: 300;
}

.movieCanceled {
	filter: grayscale(100%);
	position: absolute;
	padding: 10px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--imgOutline);
}

.movieCanceledText {
	color: var(--red);
	font-size: 2.6em;
	font-weight: 800;
	text-shadow: 1px 1px black;
	display: block;
	-webkit-transform: rotate(340deg);
	-moz-transform: rotate(340deg);
	-o-transform: rotate(340deg);
	-ms-transform: rotate(340deg);
	transform: rotate(340deg);
	position: absolute;
	top: 100px;
}

/* NEW  LOGIN */

.modal {
	display: flex;
	flex-direction: column;
	margin: 3em auto;
	min-width: 25%;
	max-width: 30%;
	height: auto;
	padding: 2em;
	background-color: var(--imgOutline);
	color: white;
	border-radius: 20px;
	font-family: "Nunito";
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.employeeModal {
	max-width: 90% !important;
}

.bigModal {
	display: flex;
	flex-direction: column;
	margin: 3em auto;
	width: 80vw;
	height: 80vh;
	padding: 2em;
	background-color: var(--imgOutline);
	color: white;
	border-radius: 20px;
	font-family: "Nunito";
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.bigModalBody {
	height: 90%;
	width: 100%;
	display: flex;
}

.bigModalBody img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

/* Utility */

.centerY {
	align-items: center;
}

.centerX {
	justify-content: center;
}

.centerRow {
	justify-content: center;
	align-items: center;
}

.spaceBetween {
	justify-content: space-between;
}

.p-0 {
	padding: 0;
}

.mt-0 {
	margin-top: 0;
}

.mt-1 {
	margin-top: 0.5em;
}

.mt-2 {
	margin-top: 1em;
}

.mt-3 {
	margin-top: 1.5em;
}

.mt-4 {
	margin-top: 2em;
}

.mt-5 {
	margin-top: 2.5em;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: 0.5em;
}

.mb-2 {
	margin-bottom: 1em;
}

.mb-3 {
	margin-bottom: 1.5em;
}

.mb-4 {
	margin-bottom: 2em;
}

.mb-5 {
	margin-bottom: 2.5em;
}

.ml-0 {
	margin-left: 0;
}

.ml-1 {
	margin-left: 0.5em;
}

.ml-2 {
	margin-left: 1em;
}

.ml-3 {
	margin-left: 1.5em;
}

.ml-4 {
	margin-left: 2em;
}

.ml-5 {
	margin-left: 2.5em;
}

.mr-0 {
	margin-right: 0;
}

.mr-1 {
	margin-right: 0.5em;
}

.mr-2 {
	margin-right: 1em;
}

.mr-3 {
	margin-right: 1.5em;
}

.mr-4 {
	margin-right: 2em;
}

.mr-5 {
	margin-right: 2.5em;
}

.w5 {
	width: 5% !important;
}

.w10 {
	width: 10% !important;
}

.w15 {
	width: 15% !important;
}

.w20 {
	width: 20% !important;
}

.w25 {
	width: 25% !important;
}

.w30 {
	width: 30% !important;
}

.w35 {
	width: 35% !important;
}

.w40 {
	width: 40% !important;
}

.w45 {
	width: 45% !important;
}

.w50 {
	width: 50% !important;
}

.w55 {
	width: 55% !important;
}

.w60 {
	width: 60% !important;
}

.w65 {
	width: 65% !important;
}

.w70 {
	width: 70% !important;
}

.w75 {
	width: 75% !important;
}

.w80 {
	width: 80% !important;
}

.w85 {
	width: 85% !important;
}

.w90 {
	width: 90% !important;
}

.w95 {
	width: 95% !important;
}

.w100 {
	width: 100% !important;
}

.wauto {
	width: auto !important;
}

.workerConfirmButton {
	margin: 0 0em 0 auto;
	border: 2px solid var(--orange);
	border-radius: 15px;
	color: white;
	font-weight: bolder;
	background-color: var(--orange);
	font-size: 1.5em;
	cursor: pointer;
	padding: 0.2em 0.5em;
}

.modalHead {
	font-size: 2em;
	font-weight: 700;
	align-self: flex-start;
	margin-bottom: 0.5em;
	width: 100%;
	display: flex;
}

.modalClose {
	width: 0.5em;
	cursor: pointer;
}

.modalColumn {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-self: flex-start;
}

.modalColumn label {
	font-weight: 300;
}

.modalRow {
	display: flex;
	width: 100%;
}

.row {
	display: flex;
	width: 100%;
}

.modal input {
	width: 100%;
	font-weight: 500;
	background-color: var(--lightPurple);
	border: 1px solid rgba(30, 16, 35, 0.5);
	border-radius: 10px;
	color: white;
	padding: 0.5em;
	height: 3em;
	transition: 0.2s border ease-in-out;
}

.modal input:focus {
	border: 1px solid var(--orange);
	transition: 0.2s border ease-in-out;
}

.modalBottom {
	justify-content: space-between;
}

.loginLinks {
	/*width: 60% !important;*/
	display: flex !important;
	flex-direction: column !important;
}

.loginLinks a,
.loginLinks span {
	text-decoration: none !important;
	color: var(--orange) !important;
	margin-top: 0.3em !important;
	min-height: 22px !important;
}

.loginLinks:first-child {
	margin-top: 0 !important;
	font-size: 0.9em !important;
}

.loginLinks a span:hover,
.loginLinks span:hover {
	border-bottom: 1px solid var(--orange) !important;
}

.loginLinks span {
	cursor: pointer;
}

.modalButton {
	background-color: var(--orange);
	color: white;
	font-family: "Nunito";
	font-weight: 700;
	font-size: 1em;
	padding: 0.3em 1em;
	border: none;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
	align-self: center;
}

.forgotPasswordButton {
	margin: 0 0 0 auto;
}

.modalWrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	z-index: 300;
	left: 0;
	top: 0;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
}

.modalTrigger {
	font-family: "Nunito";
	align-self: flex-end;
	color: white;
	font-weight: 700;
	background-color: var(--orange);
	border: none;
	padding: 0.5em 1.3em;
	border-radius: 10px;
	outline: none !important;
	font-size: 1.2em;
	cursor: pointer;
}

#passResetInner {
	display: none;
}

.showModal {
	display: block !important;
}

.hideModal {
	display: none !important;
}

/* NEW REGISTRATION */

.registerWrapper {
	display: flex;
	flex-direction: column;
	width: 85%;
	height: 100vh;
	margin-left: 15%;
	padding: 0 22%;
	background-color: var(--lightPurple);
	color: white;
	font-family: "Nunito";
}

.registerBar {
	position: fixed;
	top: 0;
	left: 0;
	width: 22%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--deepPurple);
	font-weight: 600;
	font-size: 22px;
	text-align: center;
	color: white;
}

.registerSteps {
	margin: auto 0;
	padding: 0 0.5em;
	width: 80%;
}

.registerSteps span {
	margin-left: 0.5em;
}

.registerBarTitle {
	font-weight: 700;
	font-size: 1.5em;
}

.registerBarSubtitle {
	font-weight: 300;
	font-size: 0.8em;
}

.registerRow {
	display: inline-flex;
	background-color: var(--registerButton);
	width: 100%;
	border: 3px solid var(--deepPurple);
	border-radius: 15px;
	padding: 1em;
	cursor: pointer;
	transition: 0.2s border ease-in-out;
}

.registerRow:hover {
	border: 3px solid var(--orange);
	transition: 0.2s border ease-in-out;
}

.registerType {
	display: flex;
	flex-direction: column;
	margin: 0 4em 0 2em;
}

.registerTypeTitle {
	font-weight: 600;
	font-size: 2.5em;
}

.registerTypeDesc {
	font-weight: 300;
}

.registerWrapper .icon {
	width: 5em;
}

.registerWrapper .userChoiceIcon {
	width: 80px;
	height: 80px;
}

.stepCircle {
	background-color: var(--formInput);
	padding: 0.5em 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-clip-path: circle(35% at 50% 50%);
	clip-path: circle(35% at 50% 50%);
	font-weight: 300;
	transition: 0.2s background-color ease-in-out;
}

.registerSteps span {
	font-weight: 300;
}

.stepCircleFaded {
	background-color: var(--stepCircle);
}

.registerSteps .row:hover .stepCircle {
	background-color: var(--formInput);
	transition: 0.2s background-color ease-in-out;
}

.registerSteps .row {
	cursor: pointer;
}

.column {
	display: inline-flex;
	flex-direction: column;
}

.formWrapper {
	padding: 3em 10% 0 10% !important;
	width: 100%;
	font-family: "Nunito";
	font-weight: 300;
	justify-content: center;
}

.formWrapper form label {
	font-weight: 300;
	font-size: 1.2em;
	padding-left: 0.5em;
	margin-bottom: 0.1em;
}

.formWrapper input,
.formWrapper textarea {
	width: 100%;
	font-family: "Nunito";
	font-weight: 500;
	background-color: var(--lightPurple);
	border-radius: 10px;
	color: white;
	background-color: var(--formInput);
	border: 2px solid var(--deepPurple);
	padding: 0.5em;
	height: 3em;
	font-size: 1em;
	transition: 0.2s border ease-in-out;
}

.formWrapper input:disabled,
.formWrapper .formSelect:disabled {
	background-color: var(--deepPurple);
}

.removeTopPadding {
	padding-top: 0 !important;
}

.formWrapper .dayButton {
	margin: 4px;
	font-size: 0.8em;
	font-weight: 300;
	padding: 0;
	width: 32px;
	height: 32px;
	border-radius: 10px;
	color: white;
	background-color: var(--lightPurple);
	outline: none;
}

.formWrapper .dayButton:hover {
	transition: 0.2s box-shadow easy-in-out;
	box-shadow: 0px 2px 5px var(--orange);
}

.formWrapper .todayButton {
	margin: 4px;
	font-size: 0.8em;
	font-weight: 300;
	padding: 0;
	width: 32px;
	height: 32px;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--orange);
	color: white;
	background-color: var(--lightPurple);
	outline: none;
}

.formWrapper .todayButton:hover {
	transition: 0.2s box-shadow easy-in-out;
	box-shadow: 0px 2px 5px var(--orange);
}

.formWrapper .yesterdayButton {
	margin: 4px;
	font-size: 0.8em;
	font-weight: 300;
	text-align: center;
	line-height: 32px;
	padding: 0;
	width: 32px;
	height: 32px;
	border-radius: 10px;
	color: var(--lightGray);
	background-color: var(--formInput);
	outline: none;
}

.centerItalic {
	text-align: center;
	font-style: italic;
	font-weight: 100;
}

.centerSeatLabels {
	text-align: center;
	line-height: 30px;
}

.formWrapper .selectedDay {
	color: var(--orange);
	box-shadow: 0px 2px 5px 3px var(--orange);
}

.textAreaRow {
	height: 30%;
}

.formWrapper textarea {
	resize: none;
	font-size: 1em;
	height: 100%;
}

.formWrapper input:focus,
.formWrapper textarea:focus {
	border: 2px solid var(--orange);
	transition: 0.2s border ease-in-out;
}

.formCheckbox {
	width: 1.5em !important;
	height: 1.5em !important;
}

.formSelect {
	font-family: "Nunito";
	display: block;
	font-size: 1em;
	font-weight: 500;
	color: white;
	line-height: 1.3;
	padding: 0.6em 1.4em 0.5em 0.8em;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 2px solid var(--deepPurple);
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--formInput);
	transition: 0.2s border ease-in-out;
	outline: none !important;
	background-image: url("./assets/arrowDown.svg");
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.65em auto, 100%;
}

.formSelect::-ms-expand {
	display: none;
}

.formSelect:focus {
	border: 2px solid var(--orange);
	transition: 0.2s border ease-in-out;
	outline: none !important;
}

.formSelect option {
	font-weight: 500;
	outline: none !important;
	text-align: center;
	border-radius: 15px !important;
}

.formWrapper button {
	font-family: "Nunito";
	align-self: flex-end;
	color: white;
	font-weight: 700;
	background-color: var(--orange);
	border: none;
	padding: 0.5em 1.3em;
	border-radius: 10px;
	outline: none !important;
	font-size: 1.2em;
	cursor: pointer;
}

.calendar {
	border-radius: 10px;
	background-color: var(--formInput);
}

#selectedDate {
	font-weight: 600;
	margin-left: 0.5em;
}

.dayHeader {
	margin: 4px;
	margin-bottom: -4px;
	font-size: 0.8em;
	font-weight: 400;
	padding: 0;
	width: 32px;
	height: 32px;
	border-radius: 10px;
	color: white;
	text-align: center;
}

.seat {
	/*width: 20px;
	height: 20px;*/
	width: 80%;
	height: 80%;
	align-self: center;
	border-radius: 4px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--formInput);
}

.screen {
	width: 100%;
	margin-bottom: 0.3em;
}

.screenText {
	text-align: center;
	font-size: 0.8em;
	font-weight: 300;
	margin-bottom: 0.3em;
}

#strengthBarTitle {
	font-size: 1.2em;
}

.strengthBar {
	width: 2.5em;
	height: 0.5em;
	background-color: var(--imgOutline);
	border-radius: 15px;
}

.strengthBarModal {
	width: 40px;
	height: 8px;
	background-color: var(--formInput);
	border-radius: 15px;
}

.strengthBarFilled {
	background-color: var(--orange);
}

.testClass {
	justify-self: center;
}

.unstyledAnchor {
	text-decoration: none;
	color: white;
}

/* CINEMA PAGE */

.horizontalNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1em 2em;
	color: white;
	font-family: "Nunito";
	font-size: 1.2em;
	position: absolute;
	right: 0;
	left: 0;
	z-index: 20;
}

.horizontalNav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.horizontalNav ul li {
	margin-left: 2em;
}

.horizontalNav a {
	color: white;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

.horizontalNav a:hover {
	color: var(--orange) !important;
	transition: color 0.2s ease-in-out;
}

.userIcon {
	width: 50px;
	clip-path: circle(50% at 50% 50%);
}

.cinemaBackground {
	height: 35vh;
	width: 100%;
	background-size: cover; /* gets overwritenn by inline style */
	background-repeat: no-repeat; /* gets overwritenn by inline style */
	background-position: center bottom; /* gets overwritenn by inline style */
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("./assets/Cinema/room.jpg"); /* gets overwritenn by inline style */
	display: flex;
	z-index: 10;
}

.cinemaBackgroundV2 {
	height: 35vh;
	width: 100%;
	display: flex;
	z-index: 10;
	object-fit: cover;
}

.cinemaInfoWrapper {
	margin-left: 10%;
	margin-right: 5%;
}

.cinemaProfileIcon {
	width: 200px;
	height: 200px;
	object-fit: cover;
	z-index: 15;
	clip-path: circle(50% at 50% 50%);
	border: 6px solid var(--imgOutline);
	border-radius: 50%;
}

.cinemaInfo {
	display: flex;
	/*align-items: center;*/
	margin-top: -6em;
}

.cinemaDesc {
	text-align: justify;
	border-radius: 15px;
	z-index: 5;
	background-color: var(--deepPurple);
	color: white;
	padding: 1em;
	padding-top: 2em;
	padding-left: 9em;
	margin-top: -1.5em;
	margin-left: -8em;
}

.cinemaName {
	color: white;
	font-weight: 700;
	font-size: 2.5em;
	background-color: transparent;
	z-index: 16;
	margin-top: 1em;
	margin-left: 0.4em;
}

.cinemaNameDesc {
	z-index: 20;
	margin-left: 1em;
}

.repertoireTableTitle {
	font-weight: 200;
	font-size: 1.3em;
	color: white;
	align-self: flex-start;
	cursor: pointer;
}

.repertoireTableTitleSelected {
	font-weight: 800;
	cursor: default;
}

.repertoireReserveHeight {
	min-height: 250px;
	width: 100%;
}

.smallIcon {
	width: 20px;
	height: 20px;
	object-fit: contain;
}

.pageIcon {
	width: 20px;
}

.cinemaContactInfo {
	color: white;
	font-weight: 300;
	background-color: var(--deepPurple);
	justify-self: flex-end;
	padding: 1em;
	padding-top: 2em;
	margin-top: -1em;
	border-radius: 15px;
	justify-content: center;
	align-items: center;
}

.spaceBetween {
	justify-content: space-between;
}

.gallery {
	align-self: flex-end;
	color: white;
	font-weight: 300;
	font-size: 1.2em;
}

.galleryItems {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 8px;
	justify-items: center;
}

.galleryItem {
	height: 76px;
	width: 100px;
	object-fit: cover;
	border-radius: 15px;
	margin: 4px;
	cursor: pointer;
}

.galleryAdminButton {
	margin-left: 5px;
	margin-right: 5px;
	padding: 0.5em 1.3em;
	background-color: transparent;
	border: 4px solid var(--orange);
	border-radius: 20px;
	color: var(--orange);
	font-size: 0.7em;
	font-weight: 500;
	outline: none;
	transition: 0.2s box-shadow ease-in-out;
	cursor: pointer;
}

.galleryAdminButton:hover {
	transition: 0.2s box-shadow ease-in-out;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.galleryDeleteItem {
	height: 45px;
	width: 40px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.galleryAdminPreview {
	height: 76px;
	width: 100px;
	object-fit: cover;
	border-radius: 15px;
	margin: 4px;
}

.galleryHidden {
	display: none;
}

.flexEnd {
	justify-content: flex-end;
}

.smallCalendarWrapper {
	margin-bottom: 2em;
	padding: 0.5em;
	width: 100%;
	font-family: "Nunito";
	font-weight: 300;
	color: white;
	justify-content: center;
}

.smallCalendarWrapper .dayButton {
	margin: 4px;
	font-size: 0.8em;
	font-weight: 300;
	padding: 0;
	width: 32px;
	height: 32px;
	border-radius: 10px;
	color: white;
	background-color: var(--lightPurple);
	outline: none;
}

.smallCalendarWrapper .dayButton:hover {
	transition: 0.2s box-shadow easy-in-out;
	box-shadow: 0px 2px 5px var(--orange);
}

.smallCalendarWrapper .todayButton {
	margin: 4px;
	font-size: 0.8em;
	font-weight: 300;
	padding: 0;
	width: 32px;
	height: 32px;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--orange);
	color: white;
	background-color: var(--lightPurple);
	outline: none;
}

.smallCalendarWrapper .todayButton:hover {
	transition: 0.2s box-shadow easy-in-out;
	box-shadow: 0px 2px 5px var(--orange);
}

.smallCalendarWrapper .yesterdayButton {
	margin: 4px;
	font-size: 0.8em;
	font-weight: 300;
	text-align: center;
	line-height: 32px;
	padding: 0;
	width: 32px;
	height: 32px;
	border-radius: 10px;
	color: var(--lightGray);
	background-color: var(--formInput);
	outline: none;
}

.smallCalendarWrapper .selectedDay {
	color: var(--orange);
	box-shadow: 0px 2px 5px 3px var(--orange);
}

.smallCalendarWrapper button {
	font-family: "Nunito";
	align-self: flex-end;
	color: white;
	font-weight: 700;
	background-color: var(--orange);
	border: none;
	padding: 0.5em 1.3em;
	border-radius: 10px;
	outline: none !important;
	font-size: 1.2em;
	cursor: pointer;
}

.smallCalendarHeader {
	margin-top: 2em;
	color: white;
	font-weight: 300;
	font-size: 1.2em;
}

/* MOVIE SEARCH PAGE */

.movieBackground {
	height: 70vh;
	width: 100%;
	display: flex;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/cheese-curds.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	z-index: 10;
	color: white;
}

.moviePoster {
	height: 285px;
	width: 190px;
	object-fit: cover;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.movieTitle {
	font-weight: 800;
	font-size: 2em;
	text-shadow: 0 0 5px black;
}

.movieInfoIconClock {
	width: 1.5em;
}

.movieInfoIconImdb {
	width: 2.5em;
}

.movieDesc {
	text-align: justify;
}

.trailerButton {
	padding: 0.5em 1em;
	border-radius: 20px;
	border: 2px solid var(--orange);
	background-color: transparent;
	color: var(--orange);
	font-weight: 700;
	transition: 0.2s all ease-in-out;
	cursor: pointer;
}

.trailerButton:hover {
	transition: 0.2s all ease-in-out;
	color: white;
	background-color: var(--orange);
}

.movieInfoCrewTitle {
	font-weight: 800;
}

.movieSelectorRow {
	display: inline-flex;
	color: white;
	background-color: var(--imgOutline);
}

.movieSelectorTitle {
	font-weight: 800;
	font-size: 1.2em;
}

.movieArrow {
	width: 0.8em;
	cursor: pointer;
}

.movieDateSelector {
	display: flex;
}

.dateColumn {
	background-color: var(--movieDate);
	padding: 0.2em 1em;
	min-width: 70px;
}

.movieMonth,
.movieDay {
	font-size: 1em;
	font-weight: 500;
}

.movieDate {
	font-weight: 800;
	font-size: 1.2em;
}

.movieDay {
}

.o30 {
	opacity: 0.3;
}

.o40 {
	opacity: 0.4;
}

.o50 {
	opacity: 0.5;
}

.o60 {
	opacity: 0.6;
}

.o70 {
	opacity: 0.7;
}

.o80 {
	opacity: 0.8;
}

.o90 {
	opacity: 0.9;
}

.o100 {
	opacity: 1;
}

.dropdownContent {
	display: none;
	position: absolute;
	background-color: var(--deepPurple);
	border: 1px solid var(--movieDate);
	border-top: none;
	border-radius: 0 0 15px 15px;
	color: white;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	/*margin-top: 50px;*/
}

.dropdownContent a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: 15px;
}

.dropdownContent a:hover {
	background-color: var(--orange);
}

.dropdownTitle {
	font-weight: 800;
	font-size: 1.2em;
}

/* NEW DROPDOWN */

.dropdownColumn {
	cursor: pointer;
}

.dropdownColumn a {
	text-decoration: none;
}

.dropdownColumn ul {
	list-style: none;
}

.dropdownColumn li {
	color: #fff;
	display: block;
	position: relative;
	text-decoration: none;
	transition-duration: 0.2s;
}

.dropdownColumn ul li {
	padding: 0.85em 0 1em 0;
	justify-content: center;
	align-items: center;
}

.dropdownColumn li a {
	color: #fff;
}

.dropdownColumn li:hover {
	cursor: pointer;
}

.dropdownColumn ul li ul {
	background-color: var(--deepPurple);
	border: 1px solid var(--movieDate);
	visibility: hidden;
	opacity: 0;
	min-width: 5em;
	position: absolute;
	transition: 5s background-color ease-in-out;
	margin-top: 1em;
	left: 0;
	display: none;
	border-radius: 15px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdownColumn ul li:hover > ul,
.dropdownColumn ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

.dropdownColumn ul li ul li {
	clear: both;
	width: 100%;
	border-radius: 15px;
	padding: 1em 1.3em !important;
}

.dropdownColumn ul li ul li:hover {
	background-color: var(--orange);
}

/* MOVIE SEARCH DROPDOWN */

.movieDropdownResultsContainer {
	background-color: var(--deepPurple);
	border: 1px solid var(--movieDate);
	visibility: hidden;
	opacity: 0;
	min-width: 5em;
	position: absolute;
	transition: 5s background-color ease-in-out;
	margin-bottom: 1em;
	left: 0;
	display: none;
	border-radius: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.movieDropdownFrame {
	position: relative;
}

.movieDropdownVisible {
	visibility: visible;
	opacity: 1;
	display: block;
}

.movieSearchResultListWrapper {
	width: 100%;
	padding: 0.5em 1.2em;
}

.movieSearchResultList {
	list-style: none;
	border-radius: 8px;
	background-color: var(--lightPurple);
}

.movieSearchResultItem {
	cursor: pointer;
	border-radius: 8px;
}

.movieSearchResultItem:hover {
	background-color: var(--orange);
}

.movieSearchResultItemInner {
	padding: 1em;
}

.movieSearchImg {
	height: 140px;
	width: 95px;
	object-fit: cover;
	border-radius: 2px;
}

.movieSearchItemHeader {
	font-size: 0.8em;
	font-weight: 200;
}

.movieSearchItemText {
	font-size: 1.2em;
	font-weight: 500;
}

.movieSearchItemEmpty {
	font-style: italic;
}

.movieSearchArrow {
	background-color: var(--deepPurple);
	width: 48px;
	height: 40px;
	-webkit-clip-path: circle(35% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}

.movieSearchPageNumber {
	background-color: var(--deepPurple);
	font-size: 0.9em;
	width: 2.5em;
	height: 2.5em;
	margin: 0 0.2em;
	-webkit-clip-path: circle(35% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}

.movieSearchCurrentPageNumber {
	color: var(--orange);
}

.movieSearchDots {
	font-size: 0.9em;
	margin: 0 0.2em;
}

.movieSearchActiveControl {
	background-color: var(--formInput);
	cursor: pointer;
	transition: 0.2s background-color ease-in-out;
}

.movieSearchActiveControl:hover {
	background-color: var(--orange);
	transition: 0.2s background-color ease-in-out;
}

.hidden {
	visibility: hidden;
}

/* CRITICS */

.criticsPart {
	color: white;
	margin-left: 5em;
}

.criticsTitle {
	font-weight: 800;
	font-size: 1.2em;
}

.review {
	background-color: var(--formInput);
	padding: 1.5em;
	border-radius: 15px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
}

.reviewBody {
	font-weight: 300;
	text-align: justify;
}

.reviewAuthor {
	font-weight: 700;
	align-self: flex-end;
}

.showingTitle {
	font-weight: 800;
	font-size: 1.2em;
	color: white;
	align-self: flex-start;
}

.movieShowingContent {
	margin-top: 5em;
}

.showingTable {
	width: 100%;
	color: white;
}

.showingTableRow {
	border-radius: 1em;
	padding: 0.5em 1em !important;
	cursor: pointer;
	transition: 0.2s box-shadow ease-in-out;
}

.showingTableRow:hover {
	transition: 0.2s box-shadow ease-in-out;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(226, 123, 46, 0.8);
	-moz-box-shadow: 0px 0px 3px 2px rgba(226, 123, 46, 0.8);
	box-shadow: 0px 0px 3px 2px rgba(226, 123, 46, 0.8);
}

.showingTableHeader::selection {
	color: white !important;
}

.showingTableHeader {
	padding: 0.5em 1em !important;
	color: var(--orange) !important;
	font-weight: 800;
	font-size: 1.2em;
}

.showingTable a:nth-child(odd) .showingTableRow {
	background-color: var(--formInput) !important;
}

.showingTable .nonAnchor:nth-child(odd) {
	background-color: var(--formInput);
}

.showingTablePatch {
	width: 100%;
	color: white;
}

.paintEveryOddItem:nth-of-type(odd) {
	background-color: var(--formInput);
}

.paintEveryOddItemsKid:nth-of-type(odd) .showingTableRow {
	background-color: var(--formInput);
}

.textCenter {
	text-align: center;
}

.showingTableArrow {
	background-color: var(--formInput);
	width: 2.5em;
	height: 2.5em;
	-webkit-clip-path: circle(35% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	cursor: pointer;
	transition: 0.2s background-color ease-in-out;
}

.showingTableArrow:hover {
	background-color: var(--orange);
	transition: 0.2s background-color ease-in-out;
}

.showingTablePagination {
	margin: 0 0 0 auto;
	display: none;
}

.showPagination {
	display: block !important;
}

.popcornIcon {
	width: 10em;
}

.popcornText {
	color: var(--formInput);
	font-weight: 800;
	font-size: 2em;
}

.confirmedText {
	color: white;
	font-weight: 800;
	font-size: 1.2em;
}

/* RESERVATION */

.reservationWrapper {
	color: white;
}

.reservationHR {
	border-top: 2px dashed var(--orange);
	width: 100%;
}

.reservationTitle {
	font-weight: 800;
	font-size: 1.3em;
}

.reservationSubtitle {
	text-align: left;
	align-self: flex-start;
}

.reservationScreen {
	width: 100%;
}

.reservationBottom {
	font-weight: 600 !important;
	font-size: 1.2em;
}

.reservationButton {
	align-self: flex-end;
	opacity: 1;
}

.reservationModalButton {
	margin: 0 0 0 auto;
}

.reservedSeats {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	padding: 0.5em;
}

.reservedSeat {
	border: 2px solid var(--registerButton);
	border-radius: 5px;
}

.legend {
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: 2px solid var(--registerButton);
	border-radius: 5px;
}

.legendReserved {
	background-color: var(--registerButton);
}

.legendSelected {
	background-color: white;
	border: 2px solid white;
}

.screenColumn {
	padding: 0 5em;
}

#projectionSeating .projectionSeat {
	cursor: pointer;
}

.projectionError {
	color: var(--red);
	font-weight: 600;
	display: none;
}

.projectionSeat {
	width: 80%;
	height: 80%;
	align-self: center;
	border-radius: 5px;
	border: 2px solid var(--formInput);
}

.projectionSeatLabels {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.selectedProjectionSeat {
	background-color: white !important;
	border: 2px solid white !important;
}

.reservationButtonDisabled {
	opacity: 0.6;
	pointer-events: none;
	transition: 0.2s all ease-in-out;
}

.reservationCinema {
	font-weight: 800;
	font-size: 1.2em;
}

.reservationRoom {
	font-size: 1em;
}

.seatTaken {
	pointer-events: none;
	background-color: var(--formInput);
}

.anchorWrapper {
	width: 100%;
	text-decoration: none;
	color: white;
}

/* ADMIN CONTROLLER */

.adminWrapper {
	width: 85%;
	margin-left: 15%;
	padding: 30px 80px;
	display: flex;
	flex-direction: column;
	background-color: var(--lightPurple);
}

.list {
	display: flex !important;
	width: 100% !important;
	height: 100% !important;
	flex-direction: column !important;
}

.list:last-child {
	margin-bottom: 0 !important;
}

.rowWrapper {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: center;
	background-color: var(--lightGray);
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 1em;
}

.userPicture {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
}

.userPicture > img {
	width: auto;
	height: 120px;
	width: 120px;
	border: 4px solid var(--imgOutline);
	border-radius: 50%;
	object-fit: cover;
}

.editWrapper {
	display: flex !important;
	height: 100% !important;
	width: 15% !important;
	justify-content: center !important;
	align-items: center !important;
	background-color: var(--deepPurple);
}

.editWrapper > button {
	border: 0;
	max-width: 45px !important;
	width: 30%;
	cursor: pointer;
	background-color: transparent;
}

.binWrapper {
	display: flex !important;
	height: 100% !important;
	width: 15% !important;
	justify-content: center !important;
	align-items: center !important;
	background-color: var(--deepPurple);
	border-radius: 0px 10px 10px 0px !important;
}

.checkWrapper {
	display: flex !important;
	height: 100% !important;
	width: 15% !important;
	justify-content: center !important;
	align-items: center !important;
	background-color: var(--deepPurple);
	border-radius: 0px !important;
}

.binWrapper > button,
.checkWrapper > button {
	border: 0;
	max-width: 45px !important;
	width: 30%;
	cursor: pointer;
	background-color: transparent;
}

.description {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	height: 100% !important;
	color: white;
	margin: 0 auto 0 0 !important;
}

.rightAlignRow {
	justify-content: flex-end;
}

.settingsForm {
	color: white;
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}

.settingsForm label:before {
	background: none;
	content: "";
	position: relative;
	left: 10px;
	top: 0;
	bottom: 0;
	width: 0px;
}

.searchForm {
	/*align-self: flex-start; Turned off so horizontal nav alignment would work*/
}

.settingsForm input[type="text"],
.settingsForm input[type="password"] {
	border-radius: 4px 4px 4px 4px;
	margin: 2px;
	padding: 10px;
	background-color: var(--formInput);
	color: white;
	border: 2px solid transparent;
}

.requestSettingsButtons {
	margin-top: 45px;
	margin-bottom: -45px;
	grid-column: span 2;
	display: flex;
	justify-content: flex-end;
}

.requestSettingsTitle {
	grid-column: span 3;
}

.requestSettingsDescription {
	grid-column: span 3;
	grid-row: span 6;
}

.requestSettingsDescription textarea {
	width: 90%;
	border-radius: 10px 10px 10px 10px;
	margin: 2px;
	padding: 10px;
	background-color: var(--deepPurple);
	color: white;
	border: 2px solid transparent;
}

.requestSettingsButtons > button {
	margin-left: 15px;
	margin-right: 15px;
	width: 35%;
	height: 80%;
	border-radius: 10px 10px 10px 10px;
	color: white;
}

.requestDeleteButton {
	background-color: transparent;
	border: 4px solid var(--red);
	cursor: pointer;
}

.requestApproveButton {
	background-color: var(--orange);
	border: 0px solid transparent;
	cursor: pointer;
}

.span2Make2 {
	grid-column: span 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5%;
}

.adminEmail input[type="text"] {
	width: 100%;
}

#passwordNA,
#passwordConfirmNA {
	background-color: var(--lightPurple) !important;
}

.passwordRow {
	grid-column: span 3;
	display: flex;
	justify-content: space-between;
	min-height: 60px;
}

.passwordRow > div {
	width: 45%;
	margin: 0px;
}

.passwordRow > div input[type="text"] {
	width: 100%;
}

.saveButton {
	width: 50% !important;
	font-size: large;
	font-weight: bolder;
}

.adminPicture {
	grid-row: span 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 250px;
	max-height: 250px;
}

.adminPicture > img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

.browseButton {
	border-radius: 10px 10px 10px 10px;
	border: 2px solid var(--orange);
	background-color: var(--deepPurple) !important;
	color: var(--orange) !important;
	width: 30%;
	min-width: 70px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type="file"] {
	display: none;
}

.formError {
	color: var(--red);
}

.formSuccess {
	color: #affc41;
}

.registerSuccess {
	font-size: 1.4em;
}

.registerSuccess strong {
	font-weight: 700;
	font-size: 1.5em;
}

.registerSuccess a {
	color: var(--orange);
}

.notFoundWrapper {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-image: url("../assets/404/404BG.jpg");
	color: white;
}

.notFoundTitle {
	font-weight: 800;
	font-size: 10em;
}

.notFoundText {
	font-weight: 700;
	font-size: 2em;
	text-align: center;
}

.resetTitle {
	font-weight: 800;
	font-size: 4em;
}

.resetSubtitle {
	font-weight: 500;
	font-size: 2em;
}

.oneLine > label {
	width: 40%;
}

.addAdminButton {
	background-color: var(--orange);
	height: 100%;
	color: white;
	font-family: "Nunito";
	font-weight: 700;
	font-size: 1.2em;
	padding: 0.3em 1em;
	border: none;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
	align-self: center;
}

.confirmModuleButtons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.confirmModuleButtons > button {
	width: 30%;
	margin: 15px;
	border: 2px solid var(--orange);
	border-radius: 15px;
	color: white;
	font-weight: bolder;
	background-color: var(--orange);
	font-size: 1.5em;
	cursor: pointer;
}

.transparentBg {
	background-color: transparent !important;
}

.addAdminModalColumn {
	display: flex;
	flex-direction: row !important;
	justify-content: space-between;
	width: 100%;
}

.addAdminModalColumn .modalColumn {
	width: 45%;
}

.breachWrapper {
	background-image: url("../assets/Admins/noPass.jpg") !important;
}

.light {
	background-color: var(--lightPurple) !important;
}

.span2Make3 {
	grid-column: span 2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5%;
}

.span2 {
	grid-column: span 2;
}

.span4 {
	grid-column: span 4;
}

.whole {
	width: 100%;
}

.span3Make4 {
	grid-column: span 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5%;
}

.phoneSettings input[type="text"] {
	width: 100%;
}

.settingsSelect {
	width: 100%;
}

.settingsInputText {
	width: 100%;
}

.cinemaContainer {
	position: relative;
}

.text-block {
	width: 80%;
	position: absolute;
	top: 10%;
	right: 20%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.placeSelector {
	max-width: 65%;
	display: grid;
	grid-template-columns: 4fr 3fr 3fr;
	color: white;
	column-gap: 2%;
}
