/* BASE CSS */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");

:root {
	--deepPurple: #2d2032;
	--orange: #e27b2e;
	--red: #cd3e30;
	--lightGray: #9b97b6;
	--registerButton: #7a6682;
	--formInput: #5b4962;
	--lightPurple: #342739;
	--imgOutline: #2b1e30;

	--stepCircle: #3d2b44;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}

body {
	font-family: "Nunito", sans-serif;
	background-color: var(--lightPurple);

	/*
    background-color: var(--lightPurple);
    */
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
}

/* MENU BAR */

.menuBar {
	position: fixed;
	top: 0;
	left: 0;
	width: 15%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	background-color: var(--deepPurple);
	font-weight: 600;
	font-size: 22px;
	text-align: center;
}

.menuBar a {
	color: white;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

.nav {
	list-style: none;
}

.nav li {
	margin-bottom: 14px;
}

.activeMenu {
	color: var(--orange) !important;
	cursor: default;
}

.menuBar a:hover {
	color: var(--orange) !important;
	transition: color 0.2s ease-in-out;
}

.menuBar a:last-child {
	margin-bottom: 20px;
}

.logo {
	height: 40px;
	margin-top: 20px;
}

/* ICON CSS */

.icon {
	display: inline-flex;
	align-self: center;
}

.icon svg,
.icon img {
	height: 1em;
	width: 1em;
	fill: currentColor;
}

.icon.baseline svg,
.icon img {
	top: 0.125em;
	position: relative;
}

/* MOVIES RIGHT PANE */

.moviesWrapper {
	width: 85%;
	margin-left: 15%;
	padding: 30px 80px;
	display: flex;
	flex-direction: column;
	background-color: var(--lightPurple);
}

/* SEARCH BAR */

.topBar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.profPic {
	height: 56px;
}

.searchForm {
	align-self: center;
	justify-self: center;
}

.user {
	display: flex;
	align-items: center;
}

.user span {
	color: white;
	font-size: 18px;
	font-weight: 500;
}

.user img {
	margin-right: 12px;
}

.searchForm label {
	position: relative;
}

.searchForm label:before {
	content: "";
	position: absolute;
	left: 10px;
	top: 0;
	bottom: 0;
	width: 20px;
	background: url(../assets/MoviesPage/imgs/search.svg) center / contain
		no-repeat;
}

.search {
	padding: 5px 10px 5px 35px;
	border-radius: 15px;
	outline: none;
	color: white;
	background-color: var(--deepPurple);
	font-family: "Nunito", sans-serif;
	font-weight: 300;
	font-size: 16px;
	border: rgba(255, 255, 255, 0.5) 1px solid;
	transition: border 0.2s ease-in-out;
}

.search:focus,
.search:hover {
	border: rgba(255, 255, 255, 0.8) 1px solid;
	transition: border 0.2s ease-in-out;
}

/* CATEGORY SELECT */

.movieBtns {
	list-style: none;
	display: flex;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 50px;
}

.movieBtns a {
	color: white;
	text-decoration: none;
	margin-right: 60px;
	transition: color 0.2s ease-in-out;
}

.movieBtns .activeMenu {
	margin-right: 60px;
}

.movieBtns a:hover {
	color: var(--orange) !important;
	transition: color 0.2s ease-in-out;
}

.highlightSvgOnHover {
	outline: none;
}

.highlightSvgOnHover svg path {
	fill: white;
}

.highlightSvgOnHover svg:hover path {
	fill: var(--orange) !important;
	transition: color 0.2s ease-in-out;
}

/* BUTTONS */

.standardButton {
	margin-left: 15px;
	margin-right: 15px;
	padding: 0.5em 1.3em;
	border-radius: 10px;
	color: white;
	font-size: 1em;
	outline: none;
}

.goodButton {
	background-color: var(--orange);
	border: 4px solid var(--orange);
	font-weight: 700;
	cursor: pointer;
}

.badButton {
	background-color: transparent;
	border: 4px solid var(--red);
	font-weight: 400;
	cursor: pointer;
}

.standardButton:hover {
	transition: 0.2s box-shadow easy-in-out;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.badButton:hover {
	transition: 0.2s background-color easy-in-out;
	background-color: var(--red);
}

/* CATEGORY SELECT */

.movies {
	display: grid;
	/* TODO: Remove the auto-fll when you integrate media queries*/
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 50px;
	justify-items: center;
}

.movieImg {
	height: 285px;
	width: 190px;
	object-fit: cover;
	outline: var(--imgOutline) 10px solid;
}

.movieImgExtended {
	height: 330px;
	width: 210px;
	background-color: var(--imgOutline);
}

.movieImgText {
	color: white;
	font-weight: 300;
}

/* NEW  LOGIN */

.modal {
	display: flex;
	flex-direction: column;
	margin: 3em auto;
	width: 25%;
	height: auto;
	padding: 2em;
	background-color: var(--imgOutline);
	color: white;
	border-radius: 20px;

	font-family: "Nunito";

	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

/* Utility */

.centerY {
	align-items: center;
}

.centerX {
	justify-content: center;
}

.centerRow {
	justify-content: center;
	align-items: center;
}

.spaceBetween {
	justify-content: space-between;
}

.mt-0 {
	margin-top: 0;
}

.mt-1 {
	margin-top: 0.5em;
}
.mt-2 {
	margin-top: 1em;
}
.mt-3 {
	margin-top: 1.5em;
}
.mt-4 {
	margin-top: 2em;
}
.mt-5 {
	margin-top: 2.5em;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: 0.5em;
}
.mb-2 {
	margin-bottom: 1em;
}
.mb-3 {
	margin-bottom: 1.5em;
}
.mb-4 {
	margin-bottom: 2em;
}
.mb-5 {
	margin-bottom: 2.5em;
}

.ml-0 {
	margin-left: 0;
}

.ml-1 {
	margin-left: 0.5em;
}
.ml-2 {
	margin-left: 1em;
}
.ml-3 {
	margin-left: 1.5em;
}
.ml-4 {
	margin-left: 2em;
}
.ml-5 {
	margin-left: 2.5em;
}

.mr-0 {
	margin-right: 0;
}

.mr-1 {
	margin-right: 0.5em;
}
.mr-2 {
	margin-right: 1em;
}
.mr-3 {
	margin-right: 1.5em;
}
.mr-4 {
	margin-right: 2em;
}
.mr-5 {
	margin-right: 2.5em;
}

.w5 {
	width: 5% !important;
}
.w10 {
	width: 10% !important;
}

.w15 {
	width: 15% !important;
}
.w20 {
	width: 20% !important;
}

.w25 {
	width: 25% !important;
}

.w30 {
	width: 30% !important;
}
.w35 {
	width: 35% !important;
}
.w40 {
	width: 40% !important;
}
.w45 {
	width: 45% !important;
}

.w50 {
	width: 50% !important;
}
.w55 {
	width: 55% !important;
}
.w60 {
	width: 60% !important;
}
.w65 {
	width: 65% !important;
}
.w70 {
	width: 70% !important;
}
.w75 {
	width: 75% !important;
}
.w80 {
	width: 80% !important;
}
.w85 {
	width: 85% !important;
}
.w90 {
	width: 90% !important;
}
.w95 {
	width: 95% !important;
}
.w100 {
	width: 100% !important;
}

.modalHead {
	font-size: 2em;
	font-weight: 700;
	align-self: flex-start;
	margin-bottom: 0.5em;
}

.modalColumn {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-self: flex-start;
}

.modalColumn label {
	font-weight: 300;
}

.modalRow {
	display: flex;
	width: 100%;
}

.row {
	display: flex;
	width: 100%;
}

.modal input {
	width: 100%;
	font-weight: 500;
	background-color: var(--lightPurple);
	border: 1px solid rgba(30, 16, 35, 0.5);
	border-radius: 10px;
	color: white;

	padding: 0.5em;
	height: 3em;

	transition: 0.2s border ease-in-out;
}

.modal input:focus {
	border: 1px solid var(--orange);
	transition: 0.2s border ease-in-out;
}

.modalBottom {
	justify-content: space-between;
}

.loginLinks {
	width: 60% !important;
	display: flex !important;
	flex-direction: column !important;
}

.loginLinks a {
	text-decoration: none !important;
	color: var(--orange) !important;
	margin-top: 0.3em !important;
	min-height: 22px !important;
}

.loginLinks:first-child {
	margin-top: 0 !important;
	font-size: 0.9em !important;
}

.loginLinks a span:hover {
	border-bottom: 1px solid var(--orange) !important;
}

.modalButton {
	background-color: var(--orange);
	color: white;
	font-family: "Nunito";
	font-weight: 700;
	font-size: 1em;
	padding: 0.3em 1em;
	border: none;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;

	align-self: center;
}

.modalWrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	z-index: 300;
	left: 0;
	top: 0;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
}

.modalTrigger {
	font-family: "Nunito";
	align-self: flex-end;
	color: white;
	font-weight: 700;
	background-color: var(--orange);
	border: none;
	padding: 0.5em 1.3em;
	border-radius: 10px;
	outline: none !important;
	font-size: 1.2em;
	cursor: pointer;
}

.showModal {
	display: block;
}

/* NEW REGISTRATION */

.registerWrapper {
	display: flex;
	flex-direction: column;

	width: 85%;
	height: 100vh;
	margin-left: 15%;
	padding: 0 22%;
	background-color: var(--lightPurple);
	color: white;
	font-family: "Nunito";
}

.registerBar {
	position: fixed;
	top: 0;
	left: 0;
	width: 22%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	background-color: var(--deepPurple);
	font-weight: 600;
	font-size: 22px;
	text-align: center;
	color: white;
}

.registerSteps {
	margin: auto 0;
	padding: 0 0.5em;
	width: 80%;
}

.registerSteps span {
	margin-left: 0.5em;
}

.registerBarTitle {
	font-weight: 700;
	font-size: 1.5em;
}

.registerBarSubtitle {
	font-weight: 300;

	font-size: 0.8em;
}

.registerRow {
	display: inline-flex;
	background-color: var(--registerButton);
	width: 100%;
	border: 3px solid var(--deepPurple);
	border-radius: 15px;

	padding: 1em;

	cursor: pointer;

	transition: 0.2s border ease-in-out;
}

.registerRow:hover {
	border: 3px solid var(--orange);
	transition: 0.2s border ease-in-out;
}

.registerType {
	display: flex;
	flex-direction: column;
	margin: 0 4em 0 2em;
}

.registerTypeTitle {
	font-weight: 600;
	font-size: 2.5em;
}

.registerTypeDesc {
	font-weight: 300;
}

.registerWrapper .icon {
	width: 5em;
}

.stepCircle {
	background-color: var(--formInput);
	padding: 0.5em 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-clip-path: circle(35% at 50% 50%);
	clip-path: circle(35% at 50% 50%);
	font-weight: 300;

	transition: 0.2s background-color ease-in-out;
}

.registerSteps span {
	font-weight: 300;
}

.stepCircleFaded {
	background-color: var(--stepCircle);
}

.registerSteps .row:hover .stepCircle {
	background-color: var(--formInput);
	transition: 0.2s background-color ease-in-out;
}

.registerSteps .row {
	cursor: pointer;
}

.column {
	display: inline-flex;
	flex-direction: column;
}

.formWrapper {
	padding: 3em 10% 0 10% !important;
	width: 100%;
	font-family: "Nunito";
	font-weight: 300;
	justify-content: center;
}

.formWrapper form label {
	font-weight: 300;
	font-size: 1.2em;
	padding-left: 0.5em;
	margin-bottom: 0.1em;
}

.formWrapper input,
.formWrapper textarea {
	width: 100%;
	font-family: "Nunito";
	font-weight: 500;
	background-color: var(--lightPurple);
	border-radius: 10px;
	color: white;

	background-color: var(--formInput);
	border: 2px solid var(--deepPurple);

	padding: 0.5em;
	height: 3em;

	font-size: 1em;

	transition: 0.2s border ease-in-out;
}

.textAreaRow {
	height: 30%;
}

.formWrapper textarea {
	resize: none;
	font-size: 1em;
	height: 100%;
}

.formWrapper input:focus,
.formWrapper textarea:focus {
	border: 2px solid var(--orange);
	transition: 0.2s border ease-in-out;
}

.formSelect {
	font-family: "Nunito";
	display: block;
	font-size: 1em;
	font-weight: 500;
	color: white;
	line-height: 1.3;
	padding: 0.6em 1.4em 0.5em 0.8em;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 2px solid var(--deepPurple);
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--formInput);
	transition: 0.2s border ease-in-out;
	outline: none !important;

	background-image: url("./assets/arrowDown.svg");
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.65em auto, 100%;
}
.formSelect::-ms-expand {
	display: none;
}

::selection {
	background-color: var(--orange);
}

.formSelect:focus {
	border: 2px solid var(--orange);
	transition: 0.2s border ease-in-out;
	outline: none !important;
}

.formSelect option {
	font-weight: 500;
	outline: none !important;
	text-align: center;
	border-radius: 15px !important;
}

.formWrapper button {
	font-family: "Nunito";
	align-self: flex-end;
	color: white;
	font-weight: 700;
	background-color: var(--orange);
	border: none;
	padding: 0.5em 1.3em;
	border-radius: 10px;
	outline: none !important;
	font-size: 1.2em;
	cursor: pointer;
}

#strengthBarTitle {
	font-size: 1.2em;
}

.strengthBar {
	width: 2.5em;
	height: 0.5em;
	background-color: var(--imgOutline);
	border-radius: 15px;
}

.testClass {
	justify-self: center;
}

.unstyledAnchor {
	text-decoration: none;
	color: white;
}

/* NEW CINEMA PAGE */

.horizontalNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1em 2em;
	color: white;
	font-family: "Nunito";
	font-size: 1.2em;

	position: absolute;
	right: 0;
	left: 0;

	z-index: 20;
}

.horizontalNav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.horizontalNav ul li {
	margin-left: 2em;
}

.userIcon {
	width: 50px;
	clip-path: circle(50% at 50% 50%);
}

.cinemaBackground {
	height: 50vh;
	width: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	background-image: url("./imgs/cinemaBG.jpg");

	display: flex;
	z-index: 10;
}

.cinemaInfoWrapper {
	margin-left: 10%;
	margin-right: 5%;
}

.cinemaProfileIcon {
	width: 200px;
	height: 200px;
	object-fit: cover;
	z-index: 15;

	clip-path: circle(50% at 50% 50%);
}

.cinemaInfo {
	display: flex;
	align-items: center;
	margin-top: -4em;
}

.cinemaDesc {
	text-align: justify;
	border-radius: 15px;
	z-index: 5;
	background-color: var(--deepPurple);
	color: white;
	padding: 1em;
}

.cinemaName {
	color: white;
	font-weight: 700;
	font-size: 2.5em;
	background-color: transparent;
	z-index: 20;
}

.cinemaNameDesc {
	z-index: 20;
	margin-left: 1em;
}

.pageIcon {
	width: 20px;
}

.cinemaContactInfo {
	color: white;
	font-weight: 300;
	background-color: var(--deepPurple);
	justify-self: flex-end;
	padding: 1em;
	border-radius: 15px;
	justify-content: center;
	align-items: center;
}

.spaceBetween {
	justify-content: space-between;
}

.gallery {
	align-self: flex-end;
	color: white;
	font-weight: 300;
}

.galleryItems {
	display: flex;
}

.galleryItem {
	height: 76px;
	width: 100px;

	object-fit: cover;
	border-radius: 15px;
}

.flexEnd {
	justify-content: flex-end;
}

/* ADMIN CONTROLLER */
.adminWrapper {
	width: 85%;
	margin-left: 15%;
	padding: 30px 80px;
	display: flex;
	flex-direction: column;
	background-color: var(--lightPurple);
}

.list {
	display: flex !important;
	width: 100% !important;
	height: 100% !important;
	flex-direction: column !important;
}

.list:last-child {
	margin-bottom: 0 !important;
}

.rowWrapper {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: center;
	background-color: var(--lightGray);
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 1em;
}

.userPicture {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
}

.userPicture > img {
	width: auto;
	height: 90% !important;
	max-height: 140px;
	border: 4px solid var(--imgOutline);
	border-radius: 50%;
}

.editWrapper {
	display: flex !important;
	height: 100% !important;
	width: 15% !important;
	justify-content: center !important;
	align-items: center !important;
	background-color: var(--deepPurple);
}

.editWrapper > button {
	border: 0;
	max-width: 45px !important;
	width: 30%;
	cursor: pointer;
	background-color: transparent;
}

.binWrapper {
	display: flex !important;
	height: 100% !important;
	width: 15% !important;
	justify-content: center !important;
	align-items: center !important;
	background-color: var(--deepPurple);
	border-radius: 0px 10px 10px 0px !important;
}

.binWrapper > button {
	border: 0;
	max-width: 45px !important;
	width: 30%;
	cursor: pointer;
	background-color: transparent;
}

.description {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	height: 100% !important;
	color: white;
	margin: 0 auto 0 0 !important;
}

.rightAlignRow {
	justify-content: flex-end;
}

.settingsForm {
	color: white;
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}

.settingsForm label:before {
	background: none;
	content: "";
	position: relative;
	left: 10px;
	top: 0;
	bottom: 0;
	width: 0px;
}

.searchForm {
	align-self: flex-start;
}

.settingsForm input[type="text"] {
	border-radius: 4px 4px 4px 4px;
	margin: 2px;
	padding: 10px;
	background-color: var(--deepPurple);
	color: white;
	border: 2px solid transparent;
}

.requestSettingsButtons {
	margin-top: 45px;
	margin-bottom: -45px;
	grid-column: span 2;
	display: flex;
	justify-content: flex-end;
}

.requestSettingsTitle {
	grid-column: span 3;
}

.requestSettingsDescription {
	grid-column: span 3;
	grid-row: span 6;
}

.requestSettingsDescription textarea {
	width: 90%;
	border-radius: 10px 10px 10px 10px;
	margin: 2px;
	padding: 10px;
	background-color: var(--deepPurple);
	color: white;
	border: 2px solid transparent;
}

.requestSettingsButtons input[type="submit"] {
	margin-left: 15px;
	margin-right: 15px;
	width: 35%;
	height: 80%;
	border-radius: 10px 10px 10px 10px;
	color: white;
}

.requestDeleteButton {
	background-color: transparent;
	border: 4px solid var(--red);
	cursor: pointer;
}

.requestApproveButton {
	background-color: var(--orange);
	border: 0px solid transparent;
	cursor: pointer;
}

.adminEmail {
	grid-column: span 2;
}

.adminEmail input[type="text"] {
	width: 70%;
}

.passwordRow {
	grid-column: span 3;
	display: flex;
	justify-content: space-between;
	min-height: 60px;
}

.passwordRow > div {
	width: 45%;
	margin: 0px;
}

.passwordRow > div input[type="text"] {
	width: 100%;
}

.saveButton {
	width: 50% !important;
	font-size: large;
	font-weight: bolder;
}

.adminPicture {
	grid-row: span 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 250px;
}

.adminPicture > img {
	border-radius: 50%;
	width: 50% !important;
	margin-bottom: 10px;
}

.browseButton {
	border-radius: 10px 10px 10px 10px;
	border: 2px solid var(--orange);
	background-color: var(--deepPurple) !important;
	color: var(--orange) !important;
	width: 30%;
	min-width: 40px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.adminSettingsTitle {
	grid-column: span 2;
}

input[type="file"] {
	display: none;
}

.formError {
	color: var(--red);
}

.registerSuccess {
	font-size: 1.4em;
}

.registerSuccess strong {
	font-weight: 700;
	font-size: 1.5em;
}

.registerSuccess a {
	color: var(--orange);
}

.notFoundWrapper {
	width: 100%;
	height: 100vh;

	background-size: cover;
	background-image: url("../assets/404/404BG.jpg");

	color: white;
}

.notFoundTitle {
	font-weight: 800;
	font-size: 10em;
}

.notFoundText {
	font-weight: 700;
	font-size: 2em;
	text-align: center;
}
